@font-face {
    font-family: Kalpurush;
    src: url('/fonts/Kalpurush/Kalpurush-Regular.ttf');
}


/* POST LIST OBJECT STYLES */

.calendarShow {
    text-align: center;
    padding: 0;
}

.dayShow {
    color: white;
    font-weight: 900;
    background: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    transform: perspective(20px) rotateX(-1deg);
    box-shadow: 0px 0px 5px black;
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;
}

.dayShow > h1 {
    align-self: center;
}

.monthShow {
    color: red;
    font-weight: 600;
    border: 5px solid red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    transform: perspective(20px) rotateX(1deg);
    box-shadow: 0px 0px 5px black;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.monthShow > h4 {
    align-self: center;
}


/* STORY LINK STYLE */
.comb-link {
    font-size: 2rem;
    text-decoration: none;
    color: brown;
}


.comb-link:hover {
    color:black;
    text-decoration: none;
}

.font-bengali {
    font-family: 'Kalpurush';
}
