<nav class="bg-white shadow-xl z-50">
    <!-- Big device menu -->
    <div class="hidden mx-auto max-w-7xl py-4 px-4 md:px-6 lg:px-8 md:flex flex-row items-center">
        <div class="w-[300px] flex items-center">
            <a class="font-semibold text-2xl flex flex-row justify-center items-center gap-2"
                href="{{ .Site.BaseURL }}">
                <img src="/svg/avatar.svg" class="w-[30px] h-[30px] inline-block rounded-full" />
                <p>{{ .Site.Title }}</p>
            </a>
        </div>
        <div class="w-full flex flex-row justify-end items-center gap-4">
            <a href="{{ .Site.BaseURL }}/contact"
                class="px-4 py-2 border rounded-lg hover:bg-gray-100 flex flex-row justify-center items-center gap-2">
                <i class="fas fa-id-card"></i> Contact Me
            </a>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="flex py-4 px-2 max-w-7xl flex-col gap-6 justify-end items-center md:hidden">
        <div class="w-full flex justify-center items-center">
            <a class="font-semibold text-2xl flex flex-row justify-center items-center gap-2"
                href="{{ .Site.BaseURL }}">
                <img src="/svg/avatar.svg" class="w-[30px] h-[30px] inline-block rounded-full" />
                <p>{{ .Site.Title }}</p>
            </a>
        </div>
        <div class="px-4 sm:px-8 py-2 border first:rounded-t-lg last:rounded-b-lg hover:bg-gray-100">
            <a href="{{ .Site.BaseURL }}/contact" class="flex flex-row justify-start gap-2">
                <i class="fas fa-id-card"></i> Contact Me
            </a>
        </div>
    </div>

</nav>