{{ define "title" }}
    Not Found!
{{ end }}

{{ define "main" }}
<div class="container max-w-6xl mx-auto flex flex-col gap-4 items-center justify-center h-[100vh]">
    <img
        src="/svg/no-data.svg"
        class="w-[100px] h-[100px]"
    />
    <p class="text-semibold">
        Looks like this page is empty!
    </p>
    <a href='{{ .Site.BaseURL }}' 
        class="py-2 px-4 rounded-md shadow-md bg-blue-700 text-white hover:bg-blue-900 focus:bg-blue-900 transition ease-in-out">
        Go back to homepage
    </a>
</div>
{{ end }}